<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FinFriend - Sign Up</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
</head>
<body>
  <!-- Dark/Light Mode Toggle -->
  <div class="mode-toggle">
    <input type="checkbox" id="themeSwitch" hidden>
    <label for="themeSwitch" class="theme-label">
      <span class="slider"></span>
    </label>
  </div>

  <!-- Signup Container -->
  <div class="login-container">
    <h2>Sign Up</h2>
    <form id="signupForm">
      <label for="username">Username</label>
      <input type="text" id="username" placeholder="Enter your username" required>

      <label for="email">Email</label>
      <input type="email" id="email" placeholder="Enter your email" required>

      <label for="password">Password</label>
      <div class="password-wrapper">
        <input type="password" id="password" placeholder="Enter your password" required>
        <span id="togglePassword" class="eye"></span>
      </div>

      <button type="submit">Sign Up</button>
    </form>
    <p class="back-landing">
      <a href="{{ url_for('base')}}"">← Back to Home</a>
    </p>
  </div>

  <script src="{{url_for('static',filename='js/script.js')}}"></script>
</body>
</html>